@font-face {
	font-family: 'benguiat-gothic-std';
	src: url('/fonts/benguiat-gothic-std-medium.otf');
}

@font-face {
	font-family: 'sims-llhp';
	src: url('/fonts/sims-llhp.ttf');
}

:root {
	--color-bg: rgb(87, 115, 184);
	--color-fg: rgb(150, 166, 217);
	--color-accent: rgb(29, 47, 119);
	--color-input: rgb(207, 215, 252);
	--color-btn: rgb(176, 188, 249);
}

html {
	background-color: var(--color-input);
}

html, body {
	padding: 0;
	margin: 0;
}

body, button, input[type="text"], textarea, select {
	font-family: 'benguiat-gothic-std';
	color: var(--color-accent);
}

input[type="text"], textarea, select {
	padding: 5px;
	background-color: var(--color-input);
	border: 1px solid var(--color-accent);
}

a {
	text-decoration: dotted underline;
	text-underline-offset: 2px;
}
